.navigation {
  box-shadow: 0px 1px 1px #ddd;
}

.nav-item {
  float: left;
  height: 80px;
}

.nav-item > * {
  height: 80px;
}

.horizontal-list {
  list-style-type: none;
}

.horizontal-list > li {
  float: left;
}

.nav-item.brand-container {
  width: 20%;
}

.nav-item.search-container {
  width: 30%;
}

.nav-item.links-container {
  width: 30%;
}

.nav-item.buttons-container {
  width: 20%;
}

.nav-item .search-input {
  position: relative;
  height: 28px;
  width: 80%;
  margin-left: 10%;
  top: 40px;
  margin-top: -14px;
}

.nav-item .horizontal-list li {
  position: relative;
  height: 28px;
  top: 40px;
  margin-top: -14px;
  margin-left: 4%;
}

.links-container__horizontal-list li a {
  line-height: 28px;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.nav-item.buttons-container li {
  float: right;
  margin-left: 6%;
}

.nav-item .button {
  font-size: 14px;
}

.nav-item.buttons-container li .button {
  margin-top: -5px;
}

.brand {
  display: block;
  height: 70px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}