.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

* {
  /* developer outline 
  outline: 1px solid #f0f0f0; */
  font-family: "Helvetica", Arial, san-serif !important;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}