/* line 1, ../sass/overrides.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 9, ../sass/overrides.scss */
.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
/* line 11, ../sass/overrides.scss */
* html .clearfix {
  height: 1%;
}

/* line 12, ../sass/overrides.scss */
.clearfix {
  display: block;
}

/* close commented backslash hack */
/* line 15, ../sass/overrides.scss */
* {
  /* developer outline 
  outline: 1px solid #f0f0f0; */
  font-family: "Helvetica", Arial, san-serif !important;
  box-sizing: border-box;
}

/* line 22, ../sass/overrides.scss */
a {
  text-decoration: none !important;
}
