/* all the styles for mock github */

* {
  /* developer outline */
  outline: 1px solid #f0f0f0;
  font-family: "Helvetica", Arial, san-serif !important;
}

a {
  text-decoration: none !important;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.nav-item {
  float: left;
  height: 80px;
}

.nav-item > * {
  height: 80px;
}

.horizontal-list {
  list-style-type: none;
}

.horizontal-list > li {
  float: left;
}

.nav-item.brand-container {
  width: 20%;
}

.nav-item.search-container {
  width: 30%;
}

.nav-item.links-container {
  width: 30%;
}

.nav-item.buttons-container {
  width: 20%;
}

.search-input {
  height: 28px;
}

.nav-item .search-input {
  position: relative;
  width: 80%;
  margin-left: 10%;
  top: 40px;
  margin-top: -14px;
}

.nav-item .horizontal-list li {
  position: relative;
  height: 28px;
  top: 40px;
  margin-top: -14px;
  margin-left: 4%;
}

.nav-item .horizontal-list li a {
  line-height: 28px;
}

.nav-item.buttons-container li {
  float: right;
  margin-left: 6%;
}